<section>
  <h1>About</h1>
      <p>
        Timothy has been vaguely passionate about computers ever since he got all the way through Prince of Persia when
        he was five. This grew into a legitimate love for the field after he crashed his Windows box in 2007 and managed
        a fragile triple-boot system that included a
        <a href="http://en.wikipedia.org/wiki/OSx86">patched version of OS X</a>.
      </p>
      <p>
        While he was slacking off from doing his mostly-meaningless Computer Science degree, he discovered an
        <a href="http://github.com/timothyandrew">interest for coding</a>, and there was no looking back.
      </p>
      <p>
        Having graduated recently, he's eager to put in his <a href="http://norvig.com/21-days.html">10,000 hours</a>
        and finally get some real-world experience.
      </p>
      <a href="http://c42.in"><img src="http://c42.in/images/logo.png"></a>
</section>
